# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/portfolio?schema=public"
PORT=3001
HOST=0.0.0.0
